.forgotPassword {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: calc(var(--offset-base-size) * 45);
    margin-left: auto;
    margin-right: auto;
    width: 480px;
}

.flexRow {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.flexRow>div {
    width: max-content;
}

.link {
    color: #4C4CFF;
    font-size: 16px;
    line-height: 24px;
}

.error {
    color: #E52B1A;
    font-size: 16px;
    line-height: 24px;
}