.main {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 686px;
    gap: 10px;
}

.main::-webkit-scrollbar {
    width: 12px;
}
  
.main::-webkit-scrollbar-thumb {
    background: #8585ad;
    border: 3px solid #2f2f37;
    border-radius: 6px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 272px;
    margin: 8px;
    text-align: center;
    position: relative;
}

.tab {
    margin-top: 40px;
}

