.header {
    background-color: #1C1C21;
}

.item {
    display: flex;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1244px;
    height: 88px;
    margin: 0 auto;
}

.active {
    color: #FFF;
}

.navigation {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navigation > p {
    margin-left: 5px;
}